/* web font */
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html>body {
  font-family: 'GmarketSansMedium';
}

/* custom library */
.flex-grid {
  display: flex;
  flex-wrap: wrap;
  --y-gap: 70px;
  --x-gap: 20px;
  --cc: 1;
  gap: var(--y-gap) var(--x-gap);
}

.flex-grid>* {
  width: calc(100% / var(--cc) - (var(--x-gap) * (var(--cc) - 1)) / var(--cc));
}


/* library */
/* PC con */
.pc-show .con {
  max-width: var(--site-width);
  height: 100%;
  margin: 0 auto;
}

/* 모바일 con */
.mobile-show .con {
  max-width: 95%;
  height: 100%;
  margin: 0 auto;
}

/* 스와이퍼 */
.swiper-container {
  max-width: 1920px;
  height: 440px;
  position: relative;
}

.swiper-wrapper {
  width: 1240px;
  height: 100%;
}

.swiper-slide {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.swiper-slide .text-wrap {
  position: absolute;
  top: 50%;
  width: 1240px;
}

.swiper-slide .btn-look-close {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}

.swiper-slide .number {
  padding: 10px;
  background-color: lightgray;
  border-radius: 10px;
}

.btn-swiper {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn-swiper-left>span,
.btn-swiper-right>span {
  color: white;
  font-size: 2rem;
}

/* 로고 */
.main-logo-row {
  --add: 1px;
  color: var(--color);
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
  text-shadow: 0 var(--add) 0 var(--color),
    0 calc(var(--add) * -1) 0 var(--color),
    var(--add) 0 0 var(--color),
    calc(var(--add) * -1) 0 0 var(--color);
}

.main-logo-col {
  --add: 1px;
  color: var(--color);
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  line-height: 1.7rem;
  text-shadow: 0 var(--add) 0 var(--color),
    0 calc(var(--add) * -1) 0 var(--color),
    var(--add) 0 0 var(--color),
    calc(var(--add) * -1) 0 0 var(--color);
}



/* custom */
:root {
  --site-width: 1240px;
}

/* PC 버전 */
/* top-bar */
/* top-bar__menu */
.top-bar {
  --color: white;
  --inverse-color: black;
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  color: var(--color);
  z-index: 100;
}

.top-bar.hover {
  --color: black;
  --inverse-color: white;
  background-color: var(--inverse-color);
}

.top-bar__menu>ul>li>a {
  position: relative;
  white-space: nowrap;
}

.top-bar__menu>ul>li>a::after {
  content: "";
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s;
  width: 0;
  height: 3px;
}

.top-bar__menu>ul>li>a:hover::after {
  width: 100%;
}

/* top-bar__sub-menu */
.top-bar__menu:hover .top-bar__sub-menu {
  height: 300px;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.top-bar__sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  color: #000;
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: height 0.3s;
}

.top-bar__sub-menu>.con>ul {
  margin-top: 50px;
  margin-bottom: 40px;
}

.top-bar__sub-menu>.con>ul>li:nth-child(1) {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

.top-bar__sub-menu>.con>ul>li>a {
  position: relative;
}

.top-bar__sub-menu>.con>ul>li>a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s;
}

.top-bar__sub-menu>.con>ul>li>a:hover::after {
  width: 100%;
}

/* top-bar__join-menu */
.top-bar__join-menu>ul>li>a {
  font-weight: bold;
  white-space: nowrap;
}

.top-bar__join-menu .btn-join {
  color: var(--inverse-color, black);
  background-color: var(--color, white);
  padding: 10px;
  border-radius: 20px;
}

/* top-bar 제이쿼리 */
.top-bar__popup.active {
  opacity: 1;
  visibility: visible;
}

.top-bar__popup.active .top-bar__popup-menu {
  right: 0;
}


/* section-list-1 */
.section-list-1 .flex-grid {
  --cc: 3;
}


/* section-list-2 */
.section-list-2 .flex-grid {
  --cc: 2;
}

.btn-submit,
.btn-student {
  padding: 0.8rem;
  color: #fff;
  background-color: rgba(237, 165, 9);
  border-radius: 10px;
  font-size: 0.9rem;
  margin-top: 20px;
}

.btn-end {
  padding: 0.8rem;
  color: #fff;
  background-color: lightgray;
  border-radius: 10px;
  font-size: 0.9rem;
  margin-top: 20px;
}


/* footer */
.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.footer__top-box {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.btn-inquiry {
  display: block;
  width: 300px;
  background-color: #fff;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid #000;
  border-radius: 10px;
  font-size: 0.9rem;
}

.help-center>li>span {
  display: block;
  margin-top: 0.5rem;
  font-size: 0.8rem;
}

.footer__bottom {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 2rem;
}


/* 모바일 버전 */
/* top-bar__popup(모바일) */
.top-bar__popup {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.top-bar__popup-menu {
  position: absolute;
  top: 0;
  right: -400px;
  width: 400px;
  background-color: beige;
  transition: right 0.3s;
}

.btn-popup-close {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  margin-left: auto;
}

.btn-popup-close::before,
.btn-popup-close::after {
  content: "";
  width: 100%;
  height: 10%;
  background-color: black;
  position: absolute;
  top: 40%;
  left: 0;
  transform: rotate(45deg);
}

.btn-popup-close::after {
  transform: rotate(-45deg);
}

.popup-menu__content {
  color: black;
}

.popup-menu__content.flex-grid {
  --cc: 2;
}

.popup-menu__content>ul>li {
  text-align: center;
}

.popup-menu__content>ul>li:first-child {
  font-size: 2rem;
}

.popup-menu__content>ul>li>a:hover {
  color: gray;
}

/* 나머지 */
.section-top-menu__sticky.mobile {
  position: sticky;
  top: 0;
  left: 0;
}

.mobile-show .section-body__img {
  width: 100%;
}

.btn-inquiry.mobile {
  width: 100%;
}


/* 반응형(미디어쿼리) */
@media (min-width: 1000px) {
  .pc-show {
    display: block;
  }

  .mobile-show {
    display: none;
  }

  .section-list-1 .flex-grid {
    --cc: 3;
  }

  .section-list-2 .flex-grid {
    --cc: 2;
  }
}

@media (max-width: 999px) {

  .pc-show .top-bar,
  .pc-show .footer {
    display: none;
  }

  .mobile-show .top-bar,
  .mobile-show .footer {
    display: block;
  }

  .section-list-1 .flex-grid {
    --cc: 2;
  }

  .section-list-2 .flex-grid {
    --cc: 1;
  }
}